{% extends "MeupDemoBundle::layout.html.twig" %}

{% block title "Symfony - Centers" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'center.list.headline'|trans({}, 'MeupDemoBundle') }}</h1>

    <p>
        {{ 'center.offset'|trans({}, 'MeupDemoBundle') }}: {{ data.page-1 }}, {{ 'center.limit'|trans({}, 'MeupDemoBundle') }}: {{ data.limit }}
    </p>

    <ul id="center-list">
        {% for id, center in data.inline.resources %}
            <li>
                <a href="{{ path('get_center', {'id': id}) }}">{{ center }}</a>
                [<a href="{{ path('edit_centers', {'id': id}) }}">{{ 'center.edit.link'|trans({}, 'MeupDemoBundle') }}</a>]
                [<a href="{{ path('remove_centers', {'id': id}) }}">{{ 'center.remove.link'|trans({}, 'MeupDemoBundle') }}</a>]
            </li>
        {% else %}
            <li>{{ 'center.list.empty'|trans({}, 'MeupDemoBundle') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('new_center') }}">{{ 'center.new.link'|trans({}, 'MeupDemoBundle') }}</a>
    </p>
{% endblock %}

{% set code = code(_self) %}
